<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<!-- include summernote.css -->
<link rel="stylesheet" href="/summernote-master/dist/summernote.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<!-- include jquery -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- include libraries BS3 -->
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<!-- summernote.js -->
<script type="text/javascript" src="/summernote-master/dist/summernote.js"></script>
<!-- 图像缩略图.JS -->
<script src="http://cdn.bootcss.com/holder/2.3.1/holder.min.js"></script>

<!-- html -->
<textarea class="summernote"><p>Seasons <b>coming up</b></p></textarea>